<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js" type="module"></script>
    <title>Portfolio | Mudit Sharma</title>
</head>
<body>
    <%- include("includes/header.ejs") %>
    <h1 class="gradient">About Me</h1>
    <p class="me">I am <span class="n">Mudit Sharma</span>, an aspiring Full Stack Web Developer with a passion for building scalable, user-friendly, and impactful web applications. I specialize in front-end and back-end development, working with technologies like HTML, CSS, JavaScript, Node.js, and Express. My goal is to continuously enhance my skills, contribute to meaningful projects, and create digital experiences that combine creativity with performance. I am career-focused, eager to learn, and driven to transform ideas into functional, real-world solutions.</p>
    <div class="anima">
        <dotlottie-wc
        src="https://lottie.host/18174ff0-daa2-4275-ba94-09a2b61baa14/BK7Vcgjj6C.lottie"
        style="width: 300px;height: 300px"
        speed="1"
        autoplay
        loop
        ></dotlottie-wc>
    </div>
    
</body>
</html>