<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Portfolio | Mudit Sharma</title>
</head>
<body>
    <%- include("includes/header.ejs") %>
    <h1 class="gradient">Portfolio Showcase</h1>
    <p class="des">Explore my journey through my projects , certifications, and technical expertise. Each section<br><span class="sec">represents a milestone in my continuos learning path.</span></span></p>
    <div class="containCard">
        <div class="card"> 
            <div class="amazon">
                <img src="/Amazon.png">
                <h2>Amazon</h2>
                <p>A static landing page for an e-commerce website built using HTML and CSS.</p>
            </div>
            <div class="weather">
                <img src="/weather.png">
                <h2>Weather</h2>
                <p>A responsive webpage showing real-time weather for any city using a weather API..</p>
            </div>
            <div class="spotify">
                <img src="/spotify.png">
                <h2>Spotify</h2>
                <p>A responsive music webpage with song playback and interactive UI using JavaScript.</p>
            </div>
        </div>
    </div>
</body>
</html>