<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Portfolio | Mudit Sharma</title>
</head>
<body>
    <div id="contain">
        <div class="thanks">
            <h2>Thanks <span class="na"><%= formData.name %></span> for Contacting Me!</h2>
        </div>
        <div class="message">
            <p>I appreciate your interest in my work. Your message is important to me, and I will respond soon.</p>
            <p class="sec">Until then, you can explore my <a href="/about">About Me</a> page or <a href="/projects">Projects</a>.</p>
        </div>
    </div>
    
</body>
</html>